In [2]:
import pandas as pd
import akshare as ak
from dateutil.relativedelta import relativedelta
from datetime import datetime
import dataworks as dw

In [3]:
d = dw.DataWorks()

## 期货历史合约数据

### 大连商品交易所

In [3]:
df_futures_daily_dce = d.get_data_by_sql('SELECT * FROM dce')
df_futures_daily_dce.tail()

In [ ]:
start_date = '20231101'
end_date = '20231130'
print('Last Period: ', start_date, end_date)
start_date = datetime.strptime(start_date, '%Y%m%d')
end_date = datetime.strptime(end_date, '%Y%m%d')
start_date = (start_date + relativedelta(months=1)).replace(day=1)
end_date = (end_date + relativedelta(months=2)).replace(day=1) - relativedelta(days=1)
start_date = start_date.strftime('%Y%m%d')
end_date = end_date.strftime('%Y%m%d')
print('Current Period: ', start_date, end_date)

In [ ]:
for i in range(12):  
    df_futures_daily_dce_append = ak.get_futures_daily(start_date=start_date, end_date=end_date, market="DCE")
    df_futures_daily_dce = pd.concat([df_futures_daily_dce, df_futures_daily_dce_append], ignore_index=True)
    print('Last Period: ', start_date, end_date)
    start_date = datetime.strptime(start_date, '%Y%m%d')
    end_date = datetime.strptime(end_date, '%Y%m%d')
    start_date = (start_date + relativedelta(months=1)).replace(day=1)
    end_date = (end_date + relativedelta(months=2)).replace(day=1) - relativedelta(days=1)
    start_date = start_date.strftime('%Y%m%d')
    end_date = end_date.strftime('%Y%m%d')
    print('Current Period: ', start_date, end_date)

In [ ]:
d.load_from_dataframe(df_futures_daily_dce, 'dce')

### 郑州商品交易所

In [ ]:
df_futures_daily_czce = d.get_data_by_sql('SELECT * FROM czce')
df_futures_daily_czce.tail()

In [ ]:
start_date = '20231101'
end_date = '20231130'
print('Last Period: ', start_date, end_date)
start_date = datetime.strptime(start_date, '%Y%m%d')
end_date = datetime.strptime(end_date, '%Y%m%d')
start_date = (start_date + relativedelta(months=1)).replace(day=1)
end_date = (end_date + relativedelta(months=2)).replace(day=1) - relativedelta(days=1)
start_date = start_date.strftime('%Y%m%d')
end_date = end_date.strftime('%Y%m%d')
print('Current Period: ', start_date, end_date)

In [ ]:
for i in range(12):  
    df_futures_daily_czce_append = ak.get_futures_daily(start_date=start_date, end_date=end_date, market="CZCE")
    df_futures_daily_czce = pd.concat([df_futures_daily_czce, df_futures_daily_czce_append], ignore_index=True)
    print('Last Period: ', start_date, end_date)
    start_date = datetime.strptime(start_date, '%Y%m%d')
    end_date = datetime.strptime(end_date, '%Y%m%d')
    start_date = (start_date + relativedelta(months=1)).replace(day=1)
    end_date = (end_date + relativedelta(months=2)).replace(day=1) - relativedelta(days=1)
    start_date = start_date.strftime('%Y%m%d')
    end_date = end_date.strftime('%Y%m%d')
    print('Current Period: ', start_date, end_date)

In [ ]:
d.load_from_dataframe(df_futures_daily_dce, 'czce')

### 上海商品交易所

In [9]:
df_futures_daily_shfe = d.get_data_by_sql('SELECT * FROM shfe')
df_futures_daily_shfe.tail()

,symbol,date,open,high,low,close,volume,open_interest,turnover,settle,pre_settle,variety
548369,EC2410,20231130,824.0,868.3,818.0,858.1,722,4036.0,613411.2,849.6,817.4,EC
548370,EC2412,20231130,881.3,947.0,881.3,935.0,84,628.0,78052.8,929.2,891.6,EC
548371,SC_TAS2401,20231130,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,SC_TAS
548372,SC_TAS2402,20231130,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,SC_TAS
548373,SC_TAS2403,20231130,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,SC_TAS

In [10]:
start_date = '20231101'
end_date = '20231130'
print('Last Period: ', start_date, end_date)
start_date = datetime.strptime(start_date, '%Y%m%d')
end_date = datetime.strptime(end_date, '%Y%m%d')
start_date = (start_date + relativedelta(months=1)).replace(day=1)
end_date = (end_date + relativedelta(months=2)).replace(day=1) - relativedelta(days=1)
start_date = start_date.strftime('%Y%m%d')
end_date = end_date.strftime('%Y%m%d')
print('Current Period: ', start_date, end_date)

Last Period:  20231101 20231130
Current Period:  20231201 20231231

In [11]:
df_futures_daily_shfe_append = ak.get_futures_daily(start_date=start_date, end_date=end_date, market="SHFE")
df_futures_daily_shfe = pd.concat([df_futures_daily_shfe, df_futures_daily_shfe_append], ignore_index=True)

In [13]:
d.load_from_dataframe(df_futures_daily_shfe, 'shfe')

## 期货合约基础信息

In [ ]:
futures_comm_info_df = ak.futures_comm_info(symbol="所有")
futures_comm_info_df

In [5]:
d.load_from_dataframe(futures_comm_info_df, 'common')